<%- include("partials/header") %>
    <div class="wrapper">
        <h1>Login</h1>
        <div class="input-section">
            <form action="/login" method="POST">
                <h3 class="left-text">Username&nbsp;&nbsp;&nbsp;<span class="err"><%= userErr %></span></h3>
                <input type="text" name="username" autocomplete="off" placeholder="Username" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
                <h3 class="left-text">Password&nbsp;&nbsp;&nbsp;<span class="err"><%= passErr %></span></h3>
                <input type="password" name="password" placeholder="Password" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
                <br>
                <button type="submit" class="btn btn-dark"><h4>LOGIN</h4></button>
            </form>
        </div>
    </div>
    
    


<%- include("partials/footer") %>