<%- include("partials/header") %>

    <div class="wrapper">
        <h1 class="left-text"><%= title %></h1>
        <p class="left-text"><%= text %></p>
    </div>


<%- include("partials/footer") %>